In [2]:
ls

 Volume in drive C is Western Digital SN770 2TB
 Volume Serial Number is 721D-13AE

 Directory of C:\Users\rzhu2\Projects\UIUC\Group26-FA22\src

11/01/2022  11:28 PM    <DIR>          .
11/01/2022  11:28 PM    <DIR>          ..
10/13/2022  03:29 PM    <DIR>          .ipynb_checkpoints
10/13/2022  03:29 PM    <DIR>          cached
10/13/2022  03:29 PM                65 kaggle.json
11/01/2022  11:28 PM           114,671 model_train_upload_workflow.ipynb
10/13/2022  03:29 PM    <DIR>          output-small
11/01/2022  11:28 PM             6,455 Preprocessing.ipynb
10/13/2022  03:29 PM    <DIR>          runs
10/13/2022  03:29 PM         2,299,427 trump.csv
               4 File(s)      2,420,618 bytes
               6 Dir(s)  1,498,397,261,824 bytes free

In [26]:
import re
import pandas as pd
import os

In [27]:
data = {
    'name': [],
    'line': []
}

In [28]:
pattern = r'([A-Z\s]+):(.+)'

In [29]:
splittedTxt = []
for filename in os.listdir("../Data and Transcripts/presidential_debates"):
    with open("../Data and Transcripts/presidential_debates/{}".format(filename), "r", encoding="utf8") as file:
        #txt = file.readline()
        for sentence in file:
            match = re.findall(pattern, sentence)
            if (match):
                name, line = match[0]
                data['name'].append(name)
                data['line'].append(line)

print(len(data['name']))

2891

In [30]:
df = pd.DataFrame(data)
#df.rename(columns = {0: "line"}, inplace=True)
#df.insert(loc=0,
          #column='name',
          #value="trump")

In [31]:
df

         name                                               line
0     QUIJANO   Good evening. From Longwood University in Far...
1       KAINE   Elaine, thank you for being here tonight, and...
2     QUIJANO                                    Governor Pence?
3       PENCE   Well, first off, thank you, Elaine, and thank...
4     QUIJANO   Senator Kaine, on the campaign trail, you pra...
...       ...                                                ...
2886  WALLACE   Gentlemen, just say that’s the end of it [cro...
2887    TRUMP              I want to see an honest ballot count.
2888  WALLACE                 We’re going to leave it there. . .
2889    TRUMP                       And I think he does too. . .
2890  WALLACE   Good evening from the Health Education Campus...

[2891 rows x 2 columns]

In [33]:
df.to_csv("trump.csv", index=False)